@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-input:focus {
  border-color: #e25319;
}

.otp-input {
  padding: 0.875rem 1rem;
  border-radius: 1rem;
  background-color: #3a3a3a;
  width: 3.375rem;
  outline-color: #e25319;
  color: #ffffff;
}

.otp-input.error {
  border: 2px solid red;
}
